<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>snappstay.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>81801F394D031BD45B27E57AD83C4F9F558BAF16</string>
				<key>dateExpires</key>
				<string>9/3/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81801F394D031BD45B27E57AD83C4F9F558BAF16</string>
						<key>dateExpires</key>
						<string>9/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DUL3675ATK</string>
						<key>name</key>
						<string>Wizard Innovations LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DUL3675ATK.com.dark.snappstay</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DUL3675ATK</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>snappstay.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cf630a17-e313-4dd8-8589-471ad16f3728</string>
				<key>dateExpires</key>
				<string>9/3/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.dark.snappstay</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DUL3675ATK</string>
				<key>name</key>
				<string>Wizard Innovations LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
